.carousel-container {
    position: relative;
    width: 700px;
    height: 400px;
    margin: auto;
    overflow: hidden; /* hide other images */
    border: 2px solid black;
    padding: 20px;
}

.carousel-slides {
    display: flex;
    width: 400%;
    height: 100%;
    transform: translateX(-5%);
}

.slide {
    aspect-ratio: 16/9;
    width: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.arrow-left {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    transform: translateX(-15px) translateY(-10px);
}

.arrow-right {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    transform: translateX(690px) translateY(-10px);
}

.carousel-dots {
    position: absolute;
    z-index: 1;
    transform: translateX(275px);
}